html{
    font-family: sans-serif;
    
}
html{
    background-color: whitesmoke;
}
.titulo{
    text-align: center;
}
.tit_qu_mm{
    text-align: center;
}
.fbo-embed{
    text-align: center  ;
}
.texto_uno{
    text-align: justify;
    text-align: left;

}
.revista{
    text-align: center;
}
.revista_texto{
    text-align: center;
    color: black;
}